<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirchhoff.animation">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".ticker.TickerActivity" />

        <activity android:name=".interpolators.InterpolatorActivity" />

        <activity android:name=".bottombar.BottomBarActivity" />

        <activity android:name=".awesomesplash.AwesomeSplashActivity" />

        <activity android:name=".easysplash.EasySplashActivity" />

        <activity android:name=".particle.ParticleActivity" />

        <activity
            android:name=".jellytoolbar.JellyToolbarActivity"
            android:theme="@style/AppTheme.NoToolbar" />

        <activity
            android:name=".alerter.AlerterActivity"
            android:label="@string/alerter" />

        <activity
            android:name=".recycler.FocusResizeActivity"
            android:label="@string/focus.resize" />

        <activity
            android:name=".drawer.DuoNavigationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".view.ViewActivity" />

        <activity
            android:name=".animation.additive.AdditiveAnimationActivity"
            android:label="@string/additive.animations" />

        <activity
            android:name=".loadingbutton.LoadingButtonActivity"
            android:label="@string/loading.button" />

    </application>

</manifest>