<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirchhoff.animation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".recycler.focusresize.FocusResizeActivity"
            android:label="@string/focus.resize" />

        <activity
            android:name=".swipeback.SwipeBackLayoutActivity"
            android:label="@string/swipe.back.layout"
            android:theme="@style/Theme.Swipe.Back.NoActionBar" />

        <activity
            android:name=".expandable.ExpandableLinearLayoutActivity"
            android:label="@string/expandable.linear.layout" />

        <activity
            android:name=".recycler.vega.VegaManagerActivity"
            android:label="@string/vega.layout.manager" />

        <activity
            android:name=".scaling.ScalingMainActivity"
            android:label="@string/scaling.layout" />

        <activity
            android:name=".scaling.ScalingFab"
            android:label="@string/scaling.layout.fab" />

        <activity
            android:name=".scaling.ScalingSearchBar"
            android:label="@string/scaling.layout.search.bar" />

        <activity
            android:name=".scaling.ScalingCollapsing"
            android:label="@string/scaling.layout.collapsing"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>